*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav-menu {
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.nav-menu-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
    align-items: center;
    margin-right: 60px;
}

.main-image {
    width: 100%;
}
.content {
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
}
.title {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 38px;
    color: #373737;
}
.content-text {
    line-height: 26px;
    margin-bottom: 28px;
    color: #373737;
}
.button {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 18px 43px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    margin: 70px 0 80px 0;
    text-decoration: none;
    border-bottom: #FF0000;
    border-style: hidden;
}
.footer-text {
    text-align: right;
    line-height: 20px;
    margin: 0 105px 29px 0;
}