body {
  font-family: 'Montserrat', sans-serif;
}
#section{
  background-color: #f1eded
}
.twit {
  display: flex;
  border: 2px solid #d1cfcf;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px;
}
.author {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  padding: 10px;
}
.email {
  font-size: 20px;
  margin-left: 10px;
  color: darkgrey;
  padding: 10px;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d1cfcf;
}
.btn-remove {
  border: 1px solid #525050;
  border-radius: 4px;
  padding: 10px;    
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-left: auto;
}
