body {
	font-family: 'Roboto', sans-serif;
}
.background {
	width: 1020px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center, center;
	background-image: url(./img/background.png);
}
.container {
	display: flex;
	/* width: 1020px; */
	/* margin: 0 auto; */
	flex-wrap: wrap;
	column-gap: 50px;
	margin-bottom: 26px;
	justify-content: space-between;
}
.logo {
	display: flex;
	margin-top: 51px;
}
.logo-link-item {
	font-size: 29px;
	line-height: 29px;
	font-weight: bold;
}
.logo-title {
	margin-left: 8px;
}
.logo-title:hover {
	color: #f26522;
}
.second-item {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
}
.contacts {
	margin-top: 51px;
}
.contacts-link-item {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
}
.logo .logo-link-item {
	color: #ffffff;
}
.logo:hover .logo-link-item {
	transition: 0.5s;
	color: #f26522;
}
.contacts .contacts-link-item {
	color: #ffffff;
}
.contacts:hover .contacts-link-item {
	transition: 0.5s;
	color: #f26522;
}
.icon-orange {
	display: none;
}
.logo:hover .icon {
	content: url(./img/logo2.png);
}
.margin-top {
	margin-top: 19px;
}
.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.album {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
.album-title {
	font-size: 18px;
	margin-top: 20px;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 37px;
}
.album-line {
	opacity: 0;
	width: 303px;
	display: flex;
	bottom: 80px;
	position: absolute;
	background: #f26522;
	justify-content: space-between;
	overflow: hidden;
}
.album:hover .album-line {
	opacity: 1;
	bottom: 87px;
	transition: 0.5s;
}
.album-line3 {
	opacity: 0;
	width: 303px;
	display: flex;
	bottom: 80px;
	position: absolute;
	background: #f26522;
	justify-content: space-between;
	overflow: hidden;
}
.album:hover .album-line3 {
	opacity: 1;
	bottom: 79px;
	transition: 0.5s;
}
.album:hover .album-title {
	color: #f26522;
}
.album-line2 {
	display: flex;
	flex-direction: column;
}
.album-price {
	display: flex;
}
.line-text {
	font-size: 10px;
	padding-top: 7px;
	color: #ffffff;
	line-height: 10px;
	padding-left: 16px;
	font-weight: normal;
	padding-bottom: 8px;
}
.line-text-price {
	font-size: 20px;
	color: #ffffff;
	line-height: 20px;
	font-weight: normal;
}
.line-text-view {
	display: flex;
	font-size: 14px;
	color: #ffffff;
	line-height: 14px;
	font-weight: normal;
	align-items: flex-start;
}
.line-text-view::after {
	width: 7px;
	height: 7px;
	content: ' ';
	display: block;
	margin-top: 2px;
	transition: 0.5s;
	margin-left: 16px;
	margin-right: 14px;
	transform: rotateY(5px);
	transform: rotate(-45deg);
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}
.left-padding {
	padding-left: 16px;
	padding-bottom: 12px;
}
.position-right {
	padding: 29px 9px 12px;
}
.arrow {
	width: 10px;
	height: 10px;
	margin-top: 29px;
	margin-right: 14px;
	transform: rotateY(5px);
	transform: rotate(-45deg);
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}
.copyright {
	font-size: 12px;
	margin-top: 12px;
	color: #ffffff;
	line-height: 12px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 15px;
}
