.cartPageSection {
  background-color: #0c3660;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}
.sectionTitle {
  text-align: center;
  margin: 10px auto;
}
