body {
	font-family: 'Ubuntu', sans-serif;
}
.background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(./img/background.png);
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.4);
}
.title {
	font-size: 22px;
	color: #ffffff;
	line-height: 22px;
	font-weight: bold;
	align-items: center;
	margin: 18px 0 18px 79px;
}
.title:hover {
	transition: 0.5s;
	color: #01813f;
}
.right-nav {
	display: flex;
	align-items: center;
}
.right-nav-text {
	font-size: 14px;
	color: #ffffff;
	line-height: 14px;
	position: relative;
	text-align: center;
	font-weight: normal;
}
.nav-icon {
	margin-top: 17px;
	margin-right: 27px;
	margin-bottom: 17px;
}
.nav-icon:hover path {
	fill: #01813f;
	transition: 0.5s;
}
.header-link {
	font-size: 14px;
	color: #ffffff;
	line-height: 14px;
	text-align: center;
	align-items: center;
	font-weight: normal;
	display: inline-block;
}
.header-link:hover {
	transition: 0.5s;
	color: #01813f;
}
.margin-left {
	margin-left: 26px;
}
.border::before {
	left: -27px;
	opacity: 0.5;
	content: ' ';
	height: 15px;
	display: block;
	position: absolute;
	mix-blend-mode: normal;
	border-left: 2px solid rgba(255, 255, 255, 0.9);
}
.margin-right {
	margin-right: 79px;
}
.desk {
	width: 444px;
	margin: 54px auto;
	background: #ffffff;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.desk {
	position: relative;
}
.desk-title {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.desk-link {
	font-size: 20px;
	margin-top: 31px;
	color: #434343;
	line-height: 20px;
	text-align: center;
	font-weight: normal;
}
.left-link {
	margin-left: 60px;
}
.left-link::before {
	left: 0;
	width: 18px;
	height: 18px;
	content: ' ';
	display: block;
	position: absolute;
	background: #3cb878;
	border: 1px solid #3cb878;
}
.right-link {
	font-size: 14px;
	margin-top: 33px;
	color: #3cb878;
	line-height: 14px;
	margin-right: 60px;
	font-weight: normal;
}
.right-link:hover {
	text-decoration: underline;
}
.button {
	display: flex;
	margin-top: 15px;
	position: relative;
	justify-content: center;
}
.button-F {
	display: flex;
	font-size: 16px;
	color: #ffffff;
	line-height: 16px;
	margin-right: 4px;
	border-radius: 4px;
	position: relative;
	font-weight: normal;
	align-items: center;
	display: inline-block;
	background: #305db8;
	padding: 8px 20px 17px 0px;
}
.button-F:hover {
	transition: 0.5s;
	background: #022263;
}
.button-F::before {
	left: 50px;
	top: 12px;
	height: 28px;
	opacity: 0.1;
	content: ' ';
	display: block;
	position: absolute;
	mix-blend-mode: normal;
	border-left: 2px solid #0a162f;
}
.icon-F {
	position: relative;
	left: 2px;
	top: 5px;
	padding-left: 17px;
	padding-right: 37px;
}

.button-G {
	display: flex;
	font-size: 16px;
	color: #ffffff;
	line-height: 16px;
	border-radius: 4px;
	align-items: center;
	font-weight: normal;
	background: #df4a32;
	display: inline-block;
	padding: 13px 25px 18px 0px;
}
.button-G:hover {
	transition: 0.5s;
	background: #ab1f09;
}
.button-G::before {
	top: 12px;
	left: 277px;
	height: 28px;
	content: ' ';
	opacity: 0.1;
	display: block;
	position: absolute;
	mix-blend-mode: normal;
	border-left: 2px solid #2b0d09;
}
.icon-G {
	padding-left: 12px;
	padding-right: 38px;
	position: relative;
	left: 0px;
	top: 3px;
}
.legend {
	margin-top: 31px;
	color: #848484;
	text-align: center;
	position: relative;
	margin-bottom: 11px;
}
.legend::before {
	bottom: 6px;
	content: ' ';
	left: -154px;
    width: 150px;
	display: block;
	position: absolute;
	border-bottom: 1px solid #f2f2f2;
}
.legend::after {
	left: 19px;
	bottom: 6px;
	width: 150px;
	content: ' ';
	display: block;
	position: absolute;
	border-bottom: 1px solid #f2f2f2;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 38px;
}
.input {
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #434343;
	padding: 16px 20px 16px 20px;
	background: #ffffff;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	width: 282px;
	margin-bottom: 15px;
	outline: none;
}
	
.input::-webkit-input-placeholder { color:#BEBEBE; 
}
.input:focus {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	border: none;
}
.check {
	margin-bottom: 20px;
	margin-right: 87px;
}
.check-box {
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #434343;
}
.check-link {
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #3cb878;
}
.check-link:hover {
	text-decoration: underline;
	transition: 0.5s;
}
.confirm {
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	align-items: center;
	color: #ffffff;
	padding: 16px 107px;
	background: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.confirm:hover {
	background: #01813f;
	transition: 0.5s;
}
