body {
  font-family: 'Open Sans', sans-serif;
}
.hero {
  width: 100%;
  display: flex;
  background: #313131;
  justify-content: space-between;
}
.hero-icon {
  display: flex;
}
.left-padding { 
  padding-top: 28px;
  padding-bottom: 26px;
}
.icon-logo {
  padding: 22px 27px;
}
.header-nav {
  display: flex;
}
.nav-item {
  padding-top: 28px;
  padding-bottom: 26px;
  display: inline-block;
}
.nav-item-link {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  line-height: 20px;
  padding-right: 35px;
  text-transform: uppercase;
}
.nav-item-link:hover {
  transition: 0.5s;
  color: #14b9d5;
}
.icon-search {
  padding: 27px 26px;
  background: #000000;
}
.title {
  font-size: 27px;
  color: #ffffff;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  padding-top: 164px;
  margin-bottom: 44px;
  text-transform: uppercase;
}
.sub-nav {
  display: flex;
  justify-content: center;
}
.sub-nav-item-left {
  padding: 18px;
  margin-right: 20px;
  border-radius: 4px;
  background: #89ca62;
}
.sub-nav-item-right {
  padding: 18px;
  border-radius: 4px;
  background: #14b9d5;
}
.sub-nav-item-link {
  color: #ffffff;
}
.background-img {
  height: 369px;
  background-blend-mode: overlay;
  background: url(./img/main/header-bg.jpeg) no-repeat center / cover, #555555;
  background-position: center center;
}
.title-section {
  font-size: 27px;
  color: #18b4cf;
  font-weight: bold;
  padding-top: 50px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.posts {
  background: #f2f2f2;
}
.wrapper-posts {
  display: flex;
  height: 900px;
  row-gap: 30px;
  flex-wrap: wrap;
  column-gap: 30px;
  align-content: center;
  flex-direction: column;
}
.album-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  background: #ffffff;
  padding: 20px 15px 22px 15px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.section-clients-title {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  padding-top: 106px;
  text-transform: uppercase;
}
.section-clients {
  height: 588px;
  background-blend-mode: overlay;
  background: url(./img/main/parallax-bg.jpeg) no-repeat center / cover, #555555;
}
hr {
  width: 60px;
  margin-top: 87px;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 106px;
  background: #18b4cf;
  margin-inline-end: auto;
  border-color: #18b4cf;
  margin-inline-start: auto;
}
.section-clients-img {
  display: grid;
  column-gap: 58px;
  grid-auto-flow: column;
  justify-content: center;
}
.top-rate-album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.rate-album-img {
  width: 100%;
  height: 100%;
}
.section-hot-news {
  background: rgba(0, 0, 0, 0.0001);
}
.container {
  width: 1168px;
  margin: 0 auto;
}
.news-grid {
  row-gap: 45px;
  display: grid;
  column-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'item1 item1 item1 item2'
    'item3 item3 item4 item4'
    'item5 item5 item6 item6'
    'item7 item8 item8 item8';
}
.item1 {
  height: 259px;
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  height: 259px;
  grid-area: item8;
}
.grid-flex {
  display: flex;
  flex-direction: row;
}
.section-news-subtitleCenter {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  background: #f9f7f7;
  padding: 41px 25px 15px 30px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.section-news-subtitleRight {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  background: #f9f7f7;
  padding: 14px 15px 15px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.title-center {
  text-align: center;
}
.section-news-text {
  font-size: 14px;
  color: #5b6469;
  font-weight: 600;
  padding-left: 5px;
  line-height: 21px;
  text-align: right;
  align-items: center;
  padding-right: 24px;
  padding-bottom: 10px;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.grid-img {
  height: 259px;
}
.end {
  display: flex;
  margin-top: 70px;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 30px;
  background: #000000;
  justify-content: space-around;
}
.footer-title {
  font-size: 13px;
  color: #ffffff;
  text-align: right;
  line-height: 13px;
  align-items: center;
  font-weight: normal;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}
.toggle {
  margin-left: 20px;
  padding: 18px;
  border-radius: 4px;
  background: #14b9d5;
  color: #ffffff;
  border: none;
}
.nav-scroll {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 26px;
}
.second {
	color: #000000;
}
#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-top: 8px solid #ff9800;
  border-right: 8px solid #ff9800;
  transform: rotate(-45deg);
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
}
#button:active {
  background-color: #ff9800;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
