.modalBackground {
  background-color: #0d5cc4ab;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}
.modal {
  position: absolute;
  top: 200px;
  left: 550px;
  width: 516px;
  height: 184px;
  border-radius: 4px;
  border: 1px solid #ffffff
}
.modalHeader {
  width: 516px;
  height: 68px;
  border-radius: 4px;
  background-color: #0024c4e3;
  text-align: center;
}
.modalHeaderTitle {
  margin: 0;
  font-size: 22px;
  line-height: 60px;
  color: #ffffff;
}
.modalBodyText {
  color: #ffffff;
  background-color: #0024c4e3;
  margin: 0;
  padding: 17px 0;
}
.modalFooter {
  display: flex;
  background-color: #0024c4e3;
  justify-content: center;
}
