.footer {
  background-color: #000000;
  &__title {
    @include flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fefefe;
    padding-top: 66px;
  }
  &__text {
    @include flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $contacts-color;
    margin: 22px auto;
    max-width: 50%;
    text-align: center;
  }
  &__wrapper {
    @include flex;
    margin-top: 37px;
  }
  &__icon {
    margin-right: 6px;
  }
  &__contacts {
    @include flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $contacts-color;
    margin-top: 34px;
    padding-bottom: 70px;
  }
}
@media (max-width: 320px) {
  .footer {
    &__title {
      font-size: 14px;
      line-height: 22px;
    }
    &__text {
      font-size: 12px;
      line-height: 20px;
      max-width: 70%;

    }
    &__contacts {
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 47px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 60%;
    }
  }
}
