.main-nav {
  @include flex;
  list-style: none;
  margin-top: 45px;
  margin-bottom: 51px;
  &__item {
    margin-right: 68px;
  }
  &__link {
    text-decoration: none;
    color: $title-color;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
}
.main-nav__link-first {
  color: #57a4a4;
}
.menu-btn {
  top: 0;
  right: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 37px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid black;
  background: black;
  margin: 23px 0;
  display: none;
}
.menu-btn__burger {
  width: 17px;
  height: 2px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: 26px;
  left: 14px;
  width: 17px;
  height: 2px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 14px;
  width: 17px;
  height: 2px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-53px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(9px, -45px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(34px, 20px);
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: $menu-color;
    &__item {
      margin-top: 5px;
      margin-bottom: 8px;
      margin-right: 0;
    }
    &__link {
      font-size: 11px;
      line-height: 22px;
      padding: 6px 79px 3px 12px;
    }
    &__item:active {
      background-color: $active-menu-color;
    }
  }
  .menu-btn {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (max-width: 320px){

}