.img {
  width: 100%;
  max-width: 1200px;
}
.img-responsive {
  @include flex;
}
@media (max-width: 768px) {
  .img-tablet {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .img-phone {
    text-align: center;
  }
}
