.container {
  width: 1170px;
  margin: 0 auto;
}
.section-posts {
  margin-bottom: 69px;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
    margin-top: 66px;
    margin-bottom: 24px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 45%;
    display: flex;
    margin-right: 25px;
    margin-bottom: 32px;
  }
  &__content {
    margin-left: 21px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $title-color;
  }
  &__details {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $subtitle-color;
  }
  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: $text-color;
  }
}
.section-posts--margin {
  margin-bottom: 69px;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .section-posts {
    &__title {
      padding-left: 80px;
    }
    &__wrapper {
      flex-direction: column;
      padding-left: 80px;
    }
    &__item {
      width: 90%;
      display: flex;
      margin-right: 25px;
      margin-bottom: 32px;
    }
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    max-width: 320px;
  }
  .section-posts {
    margin-bottom: 10px;

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 23px;
      padding-left: 25px;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      padding-left: 25px;
    }
    &__item {
      flex-direction: column;
      display: flex;
      margin-bottom: 32px;
    }
    &__subtitle {
      margin-top: 11px;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
    }
    &__text {
      display: none;
    }
    &__img {
      width: 70%;
    }
    &__content {
      margin-left: 0;
    }
  }
}
