
button {
  width: fit-content;
  box-sizing: border-box;
  padding: 4px 10px;
  filter: brightness(0.9);
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;

  &:hover {
    filter: brightness(1);
  }
}
.modalBackgroundFirst {
  background-color: #d44637;
}
.modalBackgroundSecond {
  background-color: grey;
}
