.root {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  position: relative;

  &:hover {
    box-shadow: 0 0 9px 0 rgba(34, 60, 80, 0.34);
  }
}
p {
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #fff;
  color: rgb(255, 255, 255);
}

img {
  height: 150px;
  width: auto;
  box-sizing: border-box;
  align-items: center;
}

span {
  font-size: 18px;
  color: grey;
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  user-select: none;
}
.wrapper {
  width: 290px;
  height: auto;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  position: relative;
  margin: 10px;
}
.wrapper:hover {
  box-shadow: 0 0 8px 0 rgba(15, 130, 218, 0.89);
}
.starSelected {
  // path fill: green;
  path{fill: rgb(241, 238, 34);}
}
.star{
  path{fill: rgb(255, 255, 255);}

}
.buttonToCart{
  border: none;
  padding: 5px;
}