.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #0c3660;
}
h1{
    background-color:black;
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}