.modalBackground {
  background-color: #312e2e;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.modal {
  position: absolute;
  top: 200px;
  left: 500px;
  width: 516px;
  height: 184px;
  border-radius: 4px;
}  
.modalHeader {
  width: 516px;
  height: 68px;
  border-radius: 4px;
  background-color: #d44637;
} 
.modalHeaderTitle {
  margin: 0;
  font-size: 22px;
  line-height: 60px;
  color: #ffffff;
}
.modalBodyText {
  color: #ffffff;
}
.modalFooter {
  display: flex;
  justify-content: center;
}


