body {
  font-family: "Roboto", sans-serif;
}
.conteiner {
  width: 1280px;
  margin-left: 98px;
}
.title {
  font-size: 80px;
  line-height: 94px;
  margin: 60px 0 40px 100px;
  display: inline-block;
}
.title-span {
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
}
.header-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #35444f;
  margin-bottom: 48px;
}
.menu-item-link {
  display: block;
  padding: 26px 35px 20px 35px;
  color: #fff;
  border-left: 1px solid #ffffff;
}
.menu-item-link:hover {
  background: #222f3a;
  transition: 0.5s;
}
.right-border {
  border-right: 1px solid #ffffff;
}
.content {
  display: flex;
  align-items: flex-start;
}
.aside-menu {
  margin-right: 52px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
}
.aside-menu-item {
  list-style: none;
}
.aside-menu-item-link {
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  display: block;
  padding: 25px 0px 25px 45px;
  align-items: center;
  color: #485863;
}
.aside-menu-item-link:hover {
  padding-left: 70px;
  transition: 0.5s;
  background: #dbdbdb;
  color: #000000;
}

.main-image {
  height: 380px;
  width: 320px;
}
.main-image:hover {
  transform: scale(1.1);
  transition: 0.5s;
color: rgb(255, 0, 0, 0,5);
}
.main-section-picture {
  height: 530px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
}
.main-section-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 40px;
}
.footer-menu {
  display: flex;
  background: rgba(99, 105, 110, 0.48);
  list-style: none;
  padding: 26px 35px 20px 35px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.footer-menu-item-link {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  color: #010101;
}
.footer-menu-item-link:hover {
  color: #3181a6;
  transition: 0.5s;
  border-bottom: 1px solid #3181a6;
}
.badding-left {
  padding-left: 80px;
}
