
.navBar {
  background-color: black;
  margin: 0;
  padding: 5px;
}
.navigate {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.navigateLink {
  padding-right: 20px;
}
.navigateItem{
  color: white;
  text-decoration: none;
}